# Tuple data strucutre in depth

In [10]:
vowels = ['a','e','i','o','u']

In [12]:
word = input("Enter some word to search")
found = []

for letter in word:
    if letter in vowels:
        if letter not in found:
            found.append(letter)
print(found)

Enter some word to search aapleee

['a', 'e']

tuple is read-onlyversion of list.

denoted by paranthesis () but they are optional

In [14]:
list1 = [1,2,3,4]
type(list1)

list

In [16]:
a = (1,2,3,4)
type(a)

tuple

In [18]:
a1 = 1,2,3,4,5
type(a1)

tuple

In [21]:
t = (10)
type(t) # this will be int as it isnormal one digit value

# thus single value tuple can be defined if we provide a comma ","

int

In [25]:
t1 = (10,) # notice the extra comma
t2 = 10,

print(type(t1))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [26]:
t3 = (10,20,30,)

In [27]:
type(t3)

tuple

In [30]:
list1 = [1,2,3,4]
type(list1)

list

In [31]:
t = tuple(list1)
type(t)

tuple

In [32]:
t = (1,2,3,4,5)

In [33]:
t[1] = 8 # 'tuple' object does not support item assignment | this will result into TypeError

TypeError: 'tuple' object does not support item assignment

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)