# List Data structures in depth

In [1]:
a = [1,2,3]
b = [1,2,3]

print(a is b)

False

In [3]:
s1 = 'abcd'
s2 = 'abcd'

print(s1 is s2)

True

In [4]:
s1 = 123
s2 = 123

print(s1 is s2)

True

In [9]:
x = [10,20,30]
y = [5,10,15,20,30]

x < y

False

In [10]:
10 in x

True

In [11]:
100 in x

False

In [12]:
100 not in x

True

In [13]:
x.pop()
x

[10, 20]

In [14]:
x.clear()
x

[]

# Nested list

In [17]:
a = [1,2,3,[4,5]]

In [18]:
print(a)

[1, 2, 3, [4, 5]]

In [19]:
print(a[0])

1

In [21]:
print(type(a[0]))

<class 'int'>

In [20]:
print(a[3])

[4, 5]

In [22]:
print(type(a[3]))

<class 'list'>

In [23]:
print(a[3][0])

4

In [24]:
print(a[3][1])

5

In [25]:
print(type(a[3][0]))

<class 'int'>

In [26]:
m = [[10,20,30],[40,50,60],[70,80,90]]

In [30]:
for x in m:
    print(x)

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [45]:
# print elements in matrix size

x = [[10,20,30],[40,50,60],[70,80,90]]

for i in range(len(x)):
    for j in range(len(x[i])):
        print(x[i][j], end=' ')
    print()

10 20 30
40 50 60
70 80 90

## list Comprehensions

In [50]:
# output a list of squares of first ten integers

# basic prog:
a = []
for x in range(1,11):
    a.append(x*x)
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
# list comprehensions:
# list_name = [ 'expression' 'for x in sequence']

a1 = [x*x for x in range(1,11)]
print(a1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
# list_name = [ 'expression' 'for x in sequence''if condition']

# now print allthe even numbers from this list 'a1'
a1 = [x*x for x in range(1,11)]
a2 = [x for x in a1 if x%2==0]
print(a1)
print(a2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

In [62]:
a3 = [x for x in range(1,11) if (x**2)%2==0]

In [63]:
a3

[2, 4, 6, 8, 10]

In [66]:
words = 'the quick brown fox jumps over the lazy dog'

In [67]:
type(words)

str

In [68]:
words = 'the quick brown fox jumps over the lazy dog'.split()

In [69]:
words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [70]:
type(words)

list

In [71]:
list1 = [w.upper() for w in words]

In [72]:
list1

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [73]:
list1 = [[w.upper(),len(w)] for w in words]

In [76]:
list1

[['THE', 3],
 ['QUICK', 5],
 ['BROWN', 5],
 ['FOX', 3],
 ['JUMPS', 5],
 ['OVER', 4],
 ['THE', 3],
 ['LAZY', 4],
 ['DOG', 3]]

In [1]:
a = [1,2,3,4]

In [7]:
a*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [8]:
[a]*3

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [6]:
a+a

[1, 2, 3, 4, 1, 2, 3, 4]

In [9]:
a+a+a

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [10]:
[a]+[a]

[[1, 2, 3, 4], [1, 2, 3, 4]]